@charset "utf-8";
/* CSS Document */

html
{
	margin: 0px;
	padding: 0px;
}

body
{
	margin: 0px;
	padding: 0px;
	font-family: 'Lato', sans-serif;
}

.contenido
{
	width: 900px;
	margin: auto;
}

/*header*/
.header
{
	border-bottom: 2px solid ;
}

.logotipo
{
	width: 90px;
	height: 90px;
	border-radius: 50%;
	padding: 0px;
	margin: 0px;
	background: white;
}

	
.logotipo img
{
	width: 100%;
	height: 100%;
	margin:0px;
}

.header-left
{
	display: flex;
	flex-wrap:nowrap;
	justify-content:space-between;
	align-items: center;
	color: black;
	text-transform: uppercase;
	letter-spacing: 1.2px;
}

.header-left h1
{
	margin: 0px;
	padding: 0px;
}

.header-left h1 a
{
	text-decoration: none;
	color: black;
	font-size: 13px;
}

.header-left h1:hover, .header-left ol li:hover
{
	text-decoration: underline;
	cursor: pointer;
}

.buscador
{
	height: 25px;
	display: flex;
}

.search h1
{
	padding: 0px;
	margin-left: 0px;
	letter-spacing: 1.5px;
}

.search-cuadro
{
	width:250px;
	height: 30px;
	padding: 0px 10px;
	margin: 0px;
	border-radius: 3px;
	border: 1px solid;
}

.search-submit
{
	width: 25px;
	height: 25px;
	font-size: 0em;
	padding: 0px;
	margin: 0px;
	background: url( ../imagenes/search.png);
	background-size: cover;
	border: none;
	cursor: pointer;
}

.usuarios
{
	list-style:none;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	text-transform: uppercase;
	font-weight:600;
	margin: 0px;
	padding: 0px;
}

.usuarios li
{
	font-size: 13px;
	margin-left: 10px;
}

.redes
{
	display: flex;
	justify-content: flex-end;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.redes li img
{
	width: 30px;
	padding-left: 10px;
}
/*search*/
#logo-search, #buscar, #quitar
{
	display: none;
}
/*search*/

/*login*/
.contenedor-login
{
	text-align: center;
	width: auto;
	height: 100%;
	z-index: 2;
	position: fixed;
	top:-1000px;
	left:0px;
	right: 0px;
	transition:linear .3s;
	background: rgba(194,194,194,0.7);
	padding: 15px;	
}

.activar-login
{
	top:0px;
}

.login
{
	border: 1px solid gray;
	border-radius: 5px;
	background-color: white;
	opacity: 1;
	padding: 30px 45px;
	width: 450px;
	margin: 50px auto;
}

.close-login
{
	width: 100%;
	display: block;
	text-align: right;
}

.close-login img:hover
{
	cursor: pointer;
}

.login h1
{
	border-top: 1px solid lightgray;
	padding: 30px 0px 20px 0px;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 3px;
}

.login label, .login input
{
	display: block;
	text-align: left;	
}

.login label
{
	font-size: 14px;
	letter-spacing: 1px;
	margin-bottom: 5px;
}

.email, .password
{
	width: auto;
}

.login input
{
	width: 92%;
	max-width: 500px;
	height: 35px;
	border-radius: 2px;
	border: 1px solid gray;
	margin-bottom: 30px ;
	padding: 0px 10px;
}

input:focus
{
	background-color: rgba(244,247,163,1.00);
	outline: 0;
}

.button
{
	width: 200px;
	height: 50px;
	background: black;
	color: white;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
	letter-spacing: 2px;
	border: none;
	margin-top: 20px;
	margin-bottom: 25px;
}

.button:hover
{
	background: white;
	color: black;
	border: 1px solid black;
	cursor: pointer;
}

.login h3
{
	font-size: 12px;
	font-weight: 100;
	text-decoration: underline;
}

.login h3:hover
{
	cursor: pointer;
	color: gray;
}
/*login*/

/*users*/
.contenedor-unete
{
	width: 900px;
	top:0px;
	margin: auto;
	background: rgba(194,194,194,0.7);		
	text-align: center;
}

.unete
{
	border: 1px solid gray;
	border-radius: 5px;
	background-color: white;
	opacity: 1;
	width: auto;
	padding: 10px;
}

#quit-unete
{
	display: none
}

h2.title-unete
{
	text-transform: uppercase;
	font-size: 20px;
	letter-spacing: 2px;
	margin-bottom: 5px;
}

.users-cuadros
{
	display: flex;
	justify-content: space-around;
}

.users-cuadros h2
{
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 2px;
	margin: 5px;
}

.users-cuadros a
{
	text-decoration: none;
	color: black;
}

.users-cuadros a:hover
{
	text-decoration: underline;
}

.unete h3
{
	font-size: 13px;
	margin: 5px;
}

.user-buyer, .user-wholesaler, .user-seller
{
	border: 1px solid lightgray;
	border-radius: 5px;
	margin: 15px 0px;
	padding: 15px;
	width: 240px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

.user-buyer:hover , .user-wholesaler:hover , .user-seller:hover, .unete figure:hover
{
	border: 1px solid #3DD7D5;
}

.unete figure
{
	width: 180px;
	height: 180px;
	border: 1px solid gray;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	padding: 0px;
	margin: 10px auto;
}

.user-buyer img, .user-wholesaler img
{
	width: 100px;
	height: 100px;
}

.user-seller img
{
	width: 170px;
	height: 110px;
	border-radius: 40px;
}
	/*users*/

/*header*/

/*body-sneakers*/
#body-sneakers
{
	background:rgba(241, 241, 241, 0.7);
}

.body-sneakers
{
	width: 900px;
	padding: 10px;
	display: flex;
	justify-content:space-around;
	align-items:center;
	flex-wrap: wrap;
	text-align: center;
	margin: 0px auto;
}

.body-sneakers a
{
	display:block;
	margin-bottom: 10px;
	text-decoration: none;
	color: black;
	padding: 0px;
	width: 33%;
}

.sneakers
{
	padding: 20px 30px;
	background: white;
	display: flex;
	flex-direction: column;
	justify-content:space-between;
	align-items: baseline;
	border-radius: 2px;
	overflow: hidden;
	position: relative;
	height: 390px;
}

.sneakers:hover
{
	border: 0.5px solid gray;
}

.sneakers:hover .sneakers-price
{
	opacity: 0;
}

.sneakers:hover .sneakers-tallas
{
	bottom: 25px;
}

.sneakers figure
{
	padding: 0px;
	margin: 30px 0px 20px;
}

.sneakers img
{
	max-width: 70%;
	vertical-align: middle;
}

.sneakers-name
{
	font-size: 13px;
	letter-spacing: 2px;
	padding:30px 40px;
	font-weight: 600;
	margin: 0px;

}

.sneakers-tallas
{
	font-weight: 100;
	font-size: 15px;
	position: absolute;
	bottom:-50px;
	letter-spacing: 1.5px;
	width: 80%;
}

.sneakers-price
{
	font-weight: 100;
	font-size: 14px;
	margin: 20px 0px;
}

/*body-sneakers*/

/*footer*/
#footer
{
	background: black;
}

.footer
{
	padding: 30px 0px;
	width: 900px;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

.footer h2
{
	margin: 0px 0px 15px 0px;
}

.footer h2 a
{
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font: inherit;
	line-height: normal;
	font-size: 12px;
	letter-spacing: 2px;
}

.footer h2 a:hover
{
	text-decoration: underline;
}
/*footer*/



@media screen and (max-width:920px)
{
	.contenido
	{
		width: auto;
		padding: 10px;
	}
	
	.contenedor-unete
	{
		width: auto;	
	}
	
	.footer
	{
		width: auto;
	}
	
	.body-sneakers
	{
		width: auto;
		height: auto;
	}
	
	.sneakers
	{
		width: auto;
	}
}

@media screen and (max-width:810px)
{
	.sneakers
	{
		height: 340px;
	}
}

@media screen and (max-width:500px)
{
	
	/*header*/
	
	.header
	{
		border-bottom: 2px solid;
	}
	
	.header h1
	{
		margin:0px 0px 0px 10px;
		font-weight: 600;
		font-size: 10px;
	}
	
	.header-left h1 a
	{
		font-size: 10px;
	}
	#logo-search, #buscar, #quitar
	{
		display:inherit;
	}
	
	.logotipo
	{
		width: 50px;
		height: 50px;
		border-radius: 50%;
	}
	
	.logotipo img
	{
		width: 50px;
		height: 50px;
		margin:0px;
	}	
	
	.usuarios li
	{
		font-size: 10px;
		margin-left: 10px;
	}

	.redes
	{
		display: flex;
		justify-content: flex-end;
		margin-top: 20px;
	}

	.redes li img
	{
		width: 25px;
	}
	
	/*header*/
	
	/*search*/
	.search
	{
		width: auto;
		display: flex;
		justify-content: space-around;
		padding: 10px;
		align-items: center;
		position: absolute;
		right: 0px;
		left: 0px;
		top: -100%;
		z-index: 2;
		background: white;
		transition: linear 0s;
	}
	
	.activar-search
	{
		top:0px;
	}
	
	.search h1
	{
		padding: 0px;
		margin-left: 0px;
		letter-spacing: 1.5px;
	}
	
	.search-cuadro
	{
		width:190px;
		height: 30px;
		padding: 0px 10px;
		margin: 0px;
		border-radius: 3px;
		border: 1px solid;
	}
	
	.search-submit
	{
		width: 25px;
		height: 25px;
		font-size: 0em;
		padding: 0px;
		margin: 0px;
		background: url(../Imágenes/search.png);
		background-size: cover;
		border: none;
		cursor: pointer;
	}
	/*search*/
	
	/*login*/
	.login
	{
		width: auto;
	}
	/*login*/

	/*users*/
	.contenedor-unete
	{
		width: auto;
		position: absolute;
		top:0px;
		left:0px;
		right: 0px;
		z-index: -4;
		padding: 15px;
		opacity: 0;
		transition: .2s;
	}
	
	.activar-unete
	{
		opacity: 1;
		z-index: 3;
	}
	
	span.close-login
	{
		position: relative;
		padding-bottom: 20px;
	}
	
	img#quit-unete
	{
		display: block;
		position: absolute;
		right: 0px;
	}

	h2.title-unete
	{
		font-size: 15px;
		border-top: 1px solid gray;
		padding-top: 20px;
		margin-top: 10px;
		margin: 5px;
	}
		
	.users-cuadros h2
	{
		font-size: 12px;
		margin: 5px;
	}
	
	.users-cuadros
	{
		display: block;
		width: auto;
	}
	
	.unete h3
	{
		font-size: 12px;
		margin: 5px;
	}
	
	.user-buyer, .user-wholesaler, .user-seller
	{
		margin: 15px auto;
		width: auto;
	}
	/*users*/
	
	/*sneakers-body*/
	.sneakers-name
	{
		font-size: 10px;
		letter-spacing: 2px;
		margin-bottom:40px;

	}
	
	.senakers img
	{
		max-width: 100%;
		max-height: 100%;
	}
	
	.sneakers-tallas
	{
		font-weight: 100;
		font-size: 13px;
		width: 110px;
		position: absolute;
		bottom:-50px;
		letter-spacing: 1.5px;
	}
	/*sneakers-body*/
	
	/*footer*/
	.footer
	{
		padding: 30px;
		display: block;
		margin: 0px;
	}
	
	.footer h2
	{
		margin: 0px 0px 15px 0px;
	}
	
	.footer h2 a
	{
		font-size: 10px;
		letter-spacing: 2.2px;
	}
	/*footer*/
	
}






